*{
    padding: 0px;
    margin: 0px;
}
.header{
    border: 1px solid black;
    text-align: center;
    padding: 30px 0px;
}
.nav{
    border: 1px solid black;
    text-align: center;
    padding: 30px 0px;
}
.container{
    border: 1px solid black;
    text-align: center;
    padding: 100;
}
.footer{
    border: 1px solid black;
    text-align: center;
    padding: 30px 0px;
}